<!DOCTYPE html>
<html ng-app="main">
<head>
<meta charset="windows-1255">
<title>Tal's coupons</title>

<link href="../CSS/main.css" rel="stylesheet" />
<link rel="stylesheet" href="../CSS/angular-material.min.css">
<link rel="stylesheet" href="../CSS/md-data-table.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    
    <script src="../app/js/md-data-table.min.js"></script>	
<script src="../app/js/angular-animate.min.js"></script>
<script src="../app/js/angular-material.min.js"></script>



<script src="../app/controllers/app.js"></script>

</head>
<body  style="background-color: #85e085;">
<a href="#admin">Red</a>
<div ng-view></div>
</body>
</html>