
<!DOCTYPE html>
<!--  PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd" -->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <link href="../CSS/main.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="../CSS/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="../app/js/angular-animate.min.js"></script>
    <script src="../app/js/angular-material.min.js"></script>
<title>Green Coupons</title>
</head>
<body ng-app = "customer" ng-controller = "customerController" ng-init="init()">


<div layout="row">
    <div flex=15>
            <md-input-container class="md-block" flex-gt-sm>
            <label>Coupon Type</label>
            <md-select ng-model="coupType">
              <md-option ng-repeat="types in couponType" value="{{ types }}">
                {{ types }}
              </md-option>
            </md-select>
          </md-input-container>
        
            <md-input-container class="md-block" flex-gt-sm>
            <label>Coupon Max Price</label>
        <input ng-model="coupPrice">
          </md-input-container>
        <md-button class="md-raised md-primary" ng-disabled="coupPrice.length == null || coupPrice.length == ''" ng-click=getAllPurchasedCouponsByPrice(coupPrice)>Filter Price</md-button> 
        <md-button class="md-raised md-primary" ng-disabled="coupType.length == null" ng-click=getAllPurchasedCouponsByType(coupType)>Filter Type</md-button>   
        <md-button class="md-raised md-primary" ng-click=couponListSwitch()>{{ switchTitle }}</md-button>
    </div>
    
      <md-grid-list
        md-cols="1" md-cols-sm="3" md-cols-md="3" md-cols-gt-md="2"
        md-row-height-gt-md="1:1" md-row-height="1:1"
        md-gutter="8px" md-gutter-gt-sm="4px" flex="85">

    <md-grid-tile ng-repeat="coupon in couponList"
                  class="ng-scope" >
        <md-card>

            <md-card-title-media>
            <div class="md-media-sm card-media">
                        <img style="max-width: 30%; height: auto;" ng-src="../img/{{ coupon.image }}" on-error-src="../img/coke.jpg" class="md-card-image" alt="Washed Out">
                </div>
          </md-card-title-media>
            <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ coupon.title }}</span>
          </md-card-title-text>
        </md-card-title>            
        <md-card-actions layout="row" layout-align="end center">
            <p class="md-button">{{ coupon.price | currency }}</p>
            <p class="md-button">{{ coupon.type }}</p>
          <md-card-icon-actions>
            <md-button ng-click="popConfirmation($event,coupon)" ng-disabled="coupon.amount == 0" class="md-fab md-primary" aria-label="Favorite">
              <md-icon md-svg-icon="../img/icons/coins-on-hand.svg"></md-icon>
            </md-button>
          </md-card-icon-actions>
        </md-card-actions>
        <md-card-content>
            <p>Left: {{ coupon.amount }} pcs</p>
            <p>Effective since: {{ coupon.startDate | date :  "dd.MM.yyyy" }}</p>
            <p>Expiry date: {{ coupon.endDate | date :  "dd.MM.yyyy" }}</p>
          <p>
            {{ coupon.message}}
          </p>
        </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>    
  
<md-content id="toast-container"></md-content>
    




    <!-- Controllers -->
    <script src="../app/controllers/customerController.js"></script>
</body>
</html>