<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
    <link rel="stylesheet" href="../CSS/login.css">
    <link rel="stylesheet" href="../CSS/angular-material.min.css">


  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  
    <script src="../app/js/angular-animate.min.js"></script>
    <script src="../app/js/angular-material.min.js"></script>
    <script src="../app/login.js"></script>
	<title>Insert title here</title>
</head>
<body dir="ltr" ng-app = "login" ng-controller = "loginController" ng-init="customerStyle={'opacity':0.5}; companyStyle={'opacity':0.5};">

<img flex-xs flex-gt-xs="50" layout="column" src="../img/coollogo_com-284901049.png" style="margin-left : 543px"/>
<div flex-xs flex-gt-xs="50" layout="row" id="containAll" style="max-width : 700px;">
<div id="buttonsDiv" flex-xs flex-gt-xs="50" layout="column">
<div id="admin">
 <md-card>
        <md-card-header>
          <md-card-avatar>
          <md-icon md-svg-icon="../img/icons/configuration.svg" ng-click = "chosenUserType='admin'; adminStyle={'opacity':1}; customerStyle={'opacity':0.5}; companyStyle={'opacity':0.5};" ng-style="adminStyle"></md-icon>
  <!--           <img class="md-user-avatar" src="../img/configuration.svg" ng-click = "chosenUserType='admin'; adminStyle={'opacity':1}; customerStyle={'opacity':0.5}; companyStyle={'opacity':0.5};" ng-style="adminStyle"/>   -->     
          </md-card-avatar>
           <md-card-header-text>
            <span class="md-title">Admin</span>
          </md-card-header-text>
        </md-card-header>
 </md-card>  
 </div>
<div>
 <md-card>
        <md-card-header>
          <md-card-avatar>
           <md-icon md-svg-icon="../img/icons/cart.svg" ng-click = "chosenUserType='customer'; adminStyle={'opacity':0.5}; customerStyle={'opacity':1}; companyStyle={'opacity':0.5};" ng-style="customerStyle"></md-icon>
     <!--        <img class="md-user-avatar" src="../img/cart.svg"  ng-click = "chosenUserType='customer'; adminStyle={'opacity':0.5}; customerStyle={'opacity':1}; companyStyle={'opacity':0.5};" ng-style="customerStyle"/>   -->     
          </md-card-avatar>
           <md-card-header-text>
            <span class="md-title">Customer</span>
          </md-card-header-text>
        </md-card-header>
 </md-card>  
 </div>
<div>
 <md-card>
        <md-card-header>
          <md-card-avatar>
          <md-icon md-svg-icon="../img/icons/cash-register.svg" ng-click = "chosenUserType='company'; adminStyle={'opacity':0.5}; customerStyle={'opacity':0.5}; companyStyle={'opacity':1};" ng-style="companyStyle"></md-icon>
        <!--    <img class="md-user-avatar" src="../img/flu.jpg" ng-click = "chosenUserType='company'; adminStyle={'opacity':0.5}; customerStyle={'opacity':0.5}; companyStyle={'opacity':1};" ng-style="companyStyle"/>    -->     
          </md-card-avatar>
           <md-card-header-text>
            <span class="md-title">Company</span>
          </md-card-header-text>
        </md-card-header>
 </md-card> 
 </div>
</div>
<div id="loginDetails" style="max-width : 350px;">
<md-content >
      <md-input-container  style="margin-left: 15px;" >
        <label>User name</label>
        <input ng-model="userName" type="text">
        </md-input-container>
        <md-input-container style="margin-left: 15px;">
        <label>Password</label>
        <input ng-model="password" type="password">
      </md-input-container>
      
      <md-card-actions layout="row" layout-align="end center">
      {{ logStat }}
      <md-button style="margin-left: 15px" ng-click = "login()" value="Login" type="submit">Submit</md-button>
      </md-card-actions>
</md-content> 
</div>
</div>


   
      <div class="footer">
        <h2>Not available for iPhone and Android.</h2>
        <img src="https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/app-store.png" width="120px" />
        <img src="https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/google-play.png" width="110px" />
      </div>   
      
      <div id="footnote">Programmed by Tal Roth for John Bryce final Java project course 822.74</div> 
</body>
</html>
